//tipografia
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300,400,600,700|Roboto:400,700,900');
//iconos
@import url('https://file.myfontastic.com/miq9ePHQDkxbpKpHMTskzX/icons.css');
//fuentes
$light:300;
$regular:400;
$semi-bold:600;
$bold:700;
//colores
$bg-fondo:#E1E2E4;
$negro-medio:#292929;
$blanco:#fff;
$negro:#000;