/*estilos del header*/

.header {
  height: 500px;
  background: url("../img/header-img.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  &-top {
    border: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*estilos del menu*/
    &__menu {
      display: flex;
      .menu {
        &-logo {
          width: 60px;
          height: 60px;
          margin-left: 10px;
        }
        &-nav {
          display: flex;
          margin: 0 0 0 20px;
        }
        &-items {
          list-style: none;
          margin: 0;
          padding: 20px 8px 0 8px;
        }
        &-link {
          font-family: 'Roboto', sans-serif;
          font-weight: $regular;
          color: $blanco;
          text-align: center;
          cursor: pointer;
          &:hover {
            color: $bg-fondo;
          }
        }
      }
    }
    /*estilo del search*/
    &__search {
      margin: 0 10px 0 0;
      .search {
        height: 25px;
        border: 0;
        border-radius: 15px;
        background: rgba(0, 0, 0, .16);
        color: $blanco;
        &:focus {
          background: $bg-fondo;
          color: $negro-medio;
          border: $negro;
        }
        &:focus+.icon-search {
          color: $negro-medio;
        }
      }
      .icon-search {
        position: relative;
        right: 30px;
        top: 1px;
        color: $bg-fondo;
      }
    }
  }
}

/*estilos de portafolio*/

.portafolio {
  height: 1200px;
  background: $blanco;
  text-align: center;
  &-titles {
    margin-top: 55px;
    &__titulo {
      font-family: 'Roboto', sans-serif;
      font-weight: $bold;
      line-height: 0;
      font-size: 4rem;
    }
    &__subtitulo {
      font-family: 'Montserrat', sans-serif;
      font-weight: $light;
      font-size: 2rem;
    }
  }
  &-option {
    &__items {
      font-family: 'Open Sans', sans-serif;
      font-weight: $light;
      color: $bg-fondo;
      cursor: pointer;
      &:hover {
        color: $negro;
      }
      &:active {
        font-weight: $bold;
      }
    }
  }
}

/* potafolio gallery*/

.gallery {
  margin: 45px 20px 0 20px;
}

.img-gallery {
  max-width: 100%;
  display: block;
}

.masonry-layout {
  --columns: 1;
  --gap: 2rem;
  $columns: 6;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
  .masonry-item {
    margin-bottom: var(--gap);
  }
  @for $i from 1 through $columns {
    &.columns-#{$i} {
      --columns: #{$i};
    }
  }
}

/*estilos de about-me*/

.about {
  height: 500px;
  background: $negro-medio;
  display: flex;
  justify-content: center;
  &-content {
    align-self: center;
    text-align: center;
    margin-top: 40px;
    &__subtitulo {
      font-family: 'Montserrat', sans-serif;
      font-weight: $light;
      color: rgba(219, 95, 41, 0.30);
      line-height: 0;
      font-size: 2rem;
    }
    &__titulo {
      font-family: 'Open Sans', sans-serif;
      font-weight: $bold;
      color: $bg-fondo;
    }
    &__parrafo {
      font-family: 'Open Sans', sans-serif;
      font-weight: $regular;
      color: rgba(225, 226, 228, 0.16);
      text-align: justify;
    }
  }
}

/*estilos cientes*/

.client {
  height: 400px;
  background: url("../img/bg-client.jpg");
  background-size: cover;
  max-width: 100%;
  &-negro {
    height: 400px;
    background: #000;
    opacity: 0.4;
  }
}